/*notes
	colors--
	orange: E1771E
	gray: BFBFBF

	fonts--
	Josefin+Slab:100,300
*/

body {
    background-image:url("../img/espresso.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:120%;
}

.menu {
	width: 70%;
	background: #e6e7e8;
	height: 38em;
	display: block;
	margin: 0 auto;
}

.logo img {
	width: 30%;
	max-width: 300px;
	display: block;
	margin: 3% auto;
	padding: 2em;
}

h2 {
	color: #000;
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.2em;
	text-align: center;
}

h3 {
	color: #000;
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;

}

h4 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: .8em;

}

p {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: .8em;
	text-indent: 1em;
}

.about {
	width: 42%;
	margin: 0 auto 0 5%;
	float: left;
	line-height: 1.2em
}


.roast {
	width: 42%;
	margin: 0 5% 0 auto;
	float: right;
	line-height: 1.2em
}


.blank {
	width: 100%;
	height: 30em;

}



/*navigation*/

.fixed-nav {
	background: #fff;
	position: absolute;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.fixed-nav li {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.fixed-nav li a {
	text-decoration: none;
	color: #000;
	margin: 0 1em;
	text-align: center;

	font-family: 'Josefin Slab', serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: .75em
}

.fixed-nav li a:hover {
	color: #BFBFBF;
}

.fixed-nav li a:active {
	color: #E1771E ;
	font-weight: 600;
}



